@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* dot in hero section background */
.color{
    height: 300px;
    width: 300px;
    background-image: radial-gradient(closest-side, rgba(72, 72, 93, 0.21),#0B0E1F);
    position: absolute;
    margin-top: -350px;
   
   
}

.colorTwo{
    height: 300px;
    width: 400px;
    background-image: radial-gradient(closest-side, rgba(72, 72, 93, 0.21),#0B0E1F);
    position: absolute;
    
    
    
}

/* scroll bar hidder */
::-webkit-scrollbar {
    display: none;
}

